:root {
  --background-color: #373f51;
  --font-size: 14px;
  --font-size-lg: 28px;
  --font-size-xlg: 40px;
}

body {
  display: flex;
}

.map-view {
  width: 65%;
  height: 100%;
}

.info-view {
  width: 35%;
  height: 100%;
  background: var(--background-color);
  padding: 40px;
}

.map-view #map {
  height: 100%;
}

.info-view .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-view .title img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
